* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header {
  z-index: 30;
  position: fixed;
  padding: 14px 16px 10px;
  background: transparent;
  transition: opacity 0.3s ease 0s;
}
.logo {
  max-height: 40px;
  max-width: 96px;
}
main {
  width: 100%;
  height: 100%;
}

.frame {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.image {
  display: flex;
  margin: 0px auto;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.frame-img {
  width: 100%;
}
.question {
  position: relative;
  width: 50%;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  flex-direction: column;
  transition: all 600ms ease 0s;
  visibility: visible;
  /* overflow: hidden auto; */
  min-width: 500px;
}
.question-content {
  padding: 80px;
  text-align: left;
  max-width: 720px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question-title {
  font-size: 24px;
  margin-top: 40px;
}

.options {
  display: inline-flex;
  margin: 32px 0px -8px;
  list-style: none;
  padding: 0px;
  flex-flow: column wrap;
  align-items: stretch;
  max-width: 100%;
  min-width: 168px;
}
.radio-list {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  background-color: rgba(240, 114, 56, 0.1);
  border: 1px solid rgb(240, 114, 56);
  color: rgb(240, 114, 56);
  min-height: 40px;
  padding: 4px;
  transition: all 0.1s ease-out;
  width: 100%;
  cursor: pointer;
  margin-bottom: 8px;
}
.radio-list:hover {
  background-color: rgba(240, 114, 56, 0.3);
}
.letter {
  /* width: 22px;
  height: 22px;
  display: flex;
  align-items: center; */
  /* font-weight: 700; */
  /* justify-content: center; */
  border: 1px solid #f0723899;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 0px 2px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 8px;
}
.value {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
}
.check {
  visibility: hidden;
}
.selected {
  border: 2px solid #f07238cc;
}
button.frame-submit {
  margin-top: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.1s ease-out 0s;
  font-weight: 700;
  border: 1px solid transparent;
  min-height: 40px;
  max-width: 100px;
  color: #fff;
  background-color: #0142ac;
  padding: 6px 14px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 50px;
}
button.frame-submit:hover {
  background-color: rgb(39, 94, 184);
}
.error-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  background-color: rgb(247, 230, 230);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  min-height: 28px;
  width: 250px;
  outline: 0px;
  padding: 4px 8px;
  position: relative;
  color: rgb(175, 4, 4);
  font-size: 14px;
  font-family: sans-serif;
  gap: 2px;
  transition: all 0.3s ease-in-out;
}

.display-none {
  display: none !important;
}
.conditions {
  margin-bottom: 16px;
  font-size: 14px;
  color: rgb(240, 114, 56);
}

.question.full-width {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 40px 0;
}
#frame6-inputs {
  margin-top: 32px;
}
.input-row {
  margin-bottom: 48px;
}
.input-row label {
  display: block;
  margin: 0px;
  width: 100%;
  font-weight: unset;
  font-size: 16px;
  line-height: 24px;
  color: rgb(240, 114, 56);
  margin-bottom: 8px;
}
.input-field {
  display: block;
  width: 100%;
  color: rgb(240, 114, 56);
  padding: 0px 0px 8px;
  border: none;
  font-size: 24px;
  border-bottom: 1px solid #f072384d;
  outline: none;
}
p {
  margin-top: 32px;
  max-width: 100%;
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  color: #000000b3;
  text-align: left;
}
p a {
  color: inherit;
  text-decoration: underline;
}
#frame7 .radio-list {
  min-width: 350px;
}
#frame7 .value {
  flex-basis: 255px;
}
/* #frame7 .question {
  padding-top: 5rem;
} */

#frame10 .image {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#frame10 .image img {
  display: block;
  height: 150px;
  width: 150px;
}

.blink {
  animation: 0.25s ease 0.25s 2 normal running ani-blink;
}
@keyframes ani-blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.letter-selected {
  border-color: rgb(240, 114, 56);
  background-color: rgb(240, 114, 56);
  color: rgb(255, 255, 255);
}
.check-selected {
  visibility: visible !important;
}
